h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    text-align: center;
    color: navy;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 35px;
    color: navy;
}
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: navy;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: navy;
}
body {
	background: linear-gradient(-90deg, #72cf25, #48ebba, #23bad5, #306aac);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#torii-title{
    font-family: 'Roboto Condensed', sans-serif;
    color: navy;
    font-size: 25px;
    text-decoration: underline;
}
#torii-text{
    font-family: 'Roboto Condensed', sans-serif;
    color: navy;
    font-size: 25px;
}
.split-screen {
    display: flex;
}

.split-screen__half {
    flex: 1;
}
.footer-logo{
    border-image: auto;
    display: flex;
    text-align: center;
    margin: auto;
    width: 175px;
}
